## Initial Test

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("HelloLocalSpark").getOrCreate()

df = spark.range(10)
df.show()

spark.stop()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

## Connect to S3

In [2]:
from pyspark.sql import SparkSession

# Initialize SparkSession with S3 support
spark = SparkSession.builder \
    .appName("CitiesDataAnalysis") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.aws.credentials.provider", "com.amazonaws.auth.DefaultAWSCredentialsProviderChain") \
    .getOrCreate()

# Define the S3 path to your CSV file
s3_path = "s3a://udacity-spark-music-askdjb/cities.csv"

# Read the CSV file into a DataFrame
df = spark.read.option("header", "true").csv(s3_path)

# Show the first few rows
df.show()

# Perform additional Spark operations as needed
# For example, count the number of cities per country
df.groupBy("country").count().show()

# Stop the SparkSession
spark.stop()

+---+----------+--------------------+----------+----------+----------------+-------------+
| id|      name|              coords|start_year|  url_name|         country|country_state|
+---+----------+--------------------+----------+----------+----------------+-------------+
|  5|  Aberdeen|  POINT(-2.15 57.15)|      2017|  aberdeen|        Scotland|         NULL|
|  6|  Adelaide|POINT(138.6 -34.9...|      2017|  adelaide|       Australia|         NULL|
|  7|   Algiers|POINT(3 36.83333333)|      2017|   algiers|         Algeria|         NULL|
|  9|    Ankara|POINT(32.91666667...|      2017|    ankara|          Turkey|         NULL|
| 16|     Belém|POINT(-48.4833333...|      2017|     belem|          Brazil|         NULL|
| 10|  Asunción|POINT(-57.6666666...|      2017|  asuncion|        Paraguay|         NULL|
| 11|    Athens|POINT(23.71666667...|      2017|    athens|          Greece|         NULL|
| 12|  Auckland|POINT(174.75 -36....|      2017|  auckland|     New Zealand|         NULL|
| 13|   Bangkok|  POINT(100.5 13.75)|      2017|   bangkok|        Thailand|         NULL|
|211|    Ottawa|POINT(-75.7166666...|      2000|    ottawa|          Canada|         Ont.|
| 17|   Belfast|POINT(-5.93333333...|      2017|   belfast|Northern Ireland|         NULL|
| 18|  Belgrade|POINT(20.53333333...|      2017|  belgrade|          Serbia|         NULL|
|273|St.-Brieuc|POINT(-2.78330326...|      2018|st.-brieuc|          France|         NULL|
|274|   Poitier|POINT(0.333276529...|      2018|   poitier|          France|         NULL|
|147|   Chicago|POINT(-87.6166666...|      1892|   chicago|   United States|         Ill.|
|269|    Annecy|POINT(6.116670287...|      2018|    annecy|          France|         NULL|
|270|    Roanne|POINT(4.066666218...|      2018|    roanne|          France|         NULL|
|271|     Roura|POINT(-52.3300205...|      2018|     roura|          France|         NULL|
|272| Sinnamary|POINT(-52.9599821...|      2018| sinnamary|          France|         NULL|
|276|  Biarritz|POINT(-1.56159489...|      2018|  biarritz|          France|         NULL|
+---+----------+--------------------+----------+----------+----------------+-------------+
only showing top 20 rows

+-----------+-----+
|    country|count|
+-----------+-----+
|   Paraguay|    1|
|     Russia|    4|
|    Senegal|    1|
|     Sweden|    1|
|     Guyana|    1|
|Philippines|    1|
|   Djibouti|    1|
|   Malaysia|    1|
|  Singapore|    1|
|     Turkey|    1|
|    Germany|    5|
|     France|   71|
|     Greece|    1|
|    Algeria|    1|
|  Argentina|    6|
|    Belgium|    1|
|    Ecuador|    1|
| Madagascar|    1|
|    Finland|    1|
|    Myanmar|    1|
+-----------+-----+
only showing top 20 rows